
:root{
--dark-background: rgb(32, 32, 35);
--dark-mode-bg: #0e0e11;
--warning: rgb(246, 99, 99);
--text: #27272A;
--50: #eefbf2;
--100: #d7f4de;
--200: #b2e8c3;
--300: #7fd69f;
--400: #41b06e;
--500: #28a15d;
--600: #1a8149;
--700: #15673d;
--800: #135232;
--900: #10442a;
--950: #082618;
--text-black: #27272a;


}

